<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title> My project </title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderBody()        
    
    <script src="http://fb.me/react-0.12.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
    @Scripts.Render("~/scripts")

    <script src="/signalr/hubs"> </script>

    <script type="text/jsx" src="/scripts/components/timer.jsx"> </script>
    <script type="text/jsx" src="/scripts/components/history-log.jsx"> </script>
    <script type="text/jsx" src="/scripts/components/theme.jsx"> </script>
    <script type="text/jsx" src="/scripts/components/chat.jsx"> </script>
    <script type="text/jsx" src="/scripts/components/main-view.jsx"> </script>
    <script type="text/jsx" src="/scripts/app.js"> </script>
</body>
</html>
