<header> 
    <div> <a href="#"> Hello world! </a> </div>
    <nav>
        <ul>
            <li><a href="#theme"> Theme </a></li>
            <li><a href="#chat"> Chat </a></li>
            <li><a href="#i3"> item#1 </a></li>
        </ul>
    </nav>
    <div> <a href="#">sup</a> </div>
</header>
<main>
    <aside>
        <div>
            Some content
        </div>
    </aside>
    <article>      


    </article>
</main>
<footer>
    <div class="date">
        <p>&copy; @DateTime.Now.Year </p>
    </div>
    <div class="timer">
        <!-- react timer here -->
    </div>
</footer>