@font-face {
    font-family: oswald-light;
    src: url(/fonts/oswald/Oswald-Light.ttf);
}

html, body {
    height:100%;
}

body {
    font-family: oswald-light;
    
    padding: 0;
    margin: 0;
}

footer, header {
    background-color: #1F807B;
    width: 100%;
    box-shadow:         0px 0px 21px 0px rgba(50, 50, 50, 0.93);
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

header {
    position: fixed;    
    top: 0;
    left: 0;
    padding: 5px;
}

footer {
    position: relative;
}

footer div, header div {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}
header nav {
    flex-grow: 4;
    font-size: 20pt;
}

article {
    background-color: #0071BC;
    
    padding: 25px;
}

aside {
    background-color: #b6ff00;
    padding: 25px;
}


main {
    padding-top: 25px; /* after header */
    min-height: calc(100% - 80px); /* -footer.height */

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
main aside {
    flex-grow: 1;
}
main article {
    flex-grow: 4;
}

nav {
    text-transform: uppercase;
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;

    margin: 0;

    text-shadow: 2px 2px 4px #000000;
}
nav ul li {
    font-size: 11pt;
    display: block;

    cursor: default
}

li a:link, a:visited, a:link:active, a:visited:active{
    text-decoration: none;
    cursor: auto;
    color: black;
}
nav ul li a:hover {
    color: #fff;
}






@media (max-width:500px){
    main {
        flex-direction: column;
    }
    aside {
        padding: 25px;
    }
}